<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" type="/style.css" href="home">
</head>
<body>
  <header><h1>Rasputins Pizza Party<h1></header>
  <nav>
    <ul>
        <li><a href="/pizza-orders">Home</a></li>
        <li><a href="/pizza-orders/new">Order a Pizza</a></li>
        <li><a href="/pizza-orders">Check your Orders</a></li>



  <%= yield %>
</body>
</html>
